%h2 Start a new game of Mexican Trains!

%h3 Add Players:

- form_for @game_play, :url => game_play_path do |f|
  - for player in @players
    %p
      = f.check_box :player_ids, :value => player.id
      = f.label :player_ids, player.name

  = link_to 'Register New Player', new_player_path

  %p
    = f.submit 'Start the Game!'

