table th, table td {
  text-align: left; }

table.game-play {
  width: auto; }
  table.game-play th {
    background-color: #eee; }
  table.game-play th.round {
    width: 75px; }
  table.game-play th.player {
    width: 100px; }
