<!DOCTYPE html>

%html
  %head
    %meta{:charset => 'UTF-8'}
    %title Mexican Trains!
    = stylesheet_link_tag 'scaffold'
  %body
    = button_to 'Log Out', logout_path, :method => :delete if current_player
    = yield
    = javascript_include_tag 'jquery-1.4.2.min', 'application'
